html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	background-color: black;
	margin-top: 0px;
	margin-left: 0px;
	overflow: auto;
}

.left_sidebar{
	float: left;
	display: inline;
	width: 10%;
	height: 100%;
	margin:0px;
	padding: 0px;
	position: fixed;
	background-color: gray;
}

#main_title{
	float: left;
	display: block;
	color: white;
	position: fixed;
	width: 80%;
	height: 100px;
	margin-left: 10%;
	text-align: center;
}

#main_title p{
	float: left;
	display: block;
	text-align: center;
	width: 200px;
	margin-left: calc(50% - 100px);
}

.main{
	float: left;
	display: block;
	height: 100%;
	margin-top: 100px;
	width: 80%;
	margin-left: 10%;
	outline: none;
	outline-color: black;
}

.right_sidebar{
	float: left;
	display: inline;
	width: 10%;
	height: 100%;
	margin:0px;
	padding: 0px;
	position: fixed;
	background-color: gray;
}

.customer{
	height: calc(100% - 100px);
	width: 100%;
	float: left;
	display: block;
}

.customer .image_border{
	float: left;
	display: block;
	width: 80%;
	height: 100%;
	margin-left: 10%;
}

.customer img{
	float: left;
	display: block;
	width: 100%;
	height: 100%;
}

.slideShow__slideTitle{
	font-weight: 300;
    z-index: 500;
    color: white;
    font-size: 3em;
    letter-spacing: 2px;
    line-height: 1;
    opacity: 0.7;
    padding: .2em;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -70px;
    left: 20%;
    margin-bottom: 10px;
}

.slideShow__slideSubTitle {
    font-size: 1.2em; 
    font-family: sans-serif;
    padding: .5rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);	
    position: absolute;
    top:-40px;
    left: 20%;
  }

:focus {
    outline: none;
}

.slideShow__slideTitle a, .slideShow__slideSubTitle a{
	text-decoration: none;
	color: white;
}

